mixin summary
    | Here is your Enterprise 
    | #[+syn('Summary', 'Report', 'Synopsis', 'Abstract', 'Outline', 'Overview', 'Run-through')] 
    | for the 
    | #[+syn('past', 'gone', 'previous', 'last')] week:
    br
    |  
    ul(style='list-style-type:circle')
        li IOPS was #{data.iops}
        li Latency was #{data.latency}
        li #{data.orphan_gb} GB orphaned space
        li #{data.orphan_luns} LUNS were orphaned
        li #{data.percent_used}% was used
p #[+summary]