| Provisioning Summary:
mixin pro
    ul(style='list-style-type:circle')
    li Array #{array.array_name} from #{array.application} had a capacity of #{array.percent_capacity}% with performance of #{array.percent_performance}% and is #{array.alert_color}

-let array;
each dc in data
    - array = dc;
    p #[+pro]
