| Storage by DC:
mixin storage
    | #{array.device_type_description}:
    ul(style='list-style-type:circle')
        li Total allocation of #{array.ttl_allocated}%
        li Total iops of #{array.ttl_iops} ms
        li Total latency of #{array.ttl_latency} ms
        li Total usable space of #{array.ttl_latency} PB
        li Total used space of #{array.ttl_used} PB

-let array;
each dc in data
    - array = dc;
    p #[+storage]
